@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#menu {
        display: none;
    }

    menu {
        display: block !important;
    }
    menu > ul > li {
        display: inline-block;    
        
    }
    
    menu > ul > li > a {
        border: none;
    }
}

